*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.homePage {
    margin-top: 3rem;
}
.homeHeader {
    text-align: center;
    h1 {
        color: rgba(255, 0, 0, 0.959);
    }
    h3 {
        color: purple;
        margin: 2rem;
    }
}